<footer class="pad">
  <div class="contact">
    <h3 class="company--name">GoodHope Flourish <br> <span class="small">Foundation</span></h3>

    <div class="contact-group">
      <i class="fas fa-map-marker-alt"></i>
      <p class="contact--location"> Owerri, Imo State</p>
    </div>

    <div class="contact-group">
      <i class="fas fa-phone-alt"></i>
      <p class="contact--phone"> 08025455169</p>
    </div>

    <div class="contact-group">
      <i class="fas fa-envelope"></i>
      <p class="contact--email"> info@goodhopeflourish.org</p>
    </div>

  </div>

  <div class="quick-links">
    <p>Quick Links</p>
    <ul>
      <li ><i class="fas fa-angle-right"></i><a href="{% url 'index' %}" >Home</a></li>
      <li><i class="fas fa-angle-right"></i><a href="{% url 'about' %}">About</a></li>
      <li><i class="fas fa-angle-right"></i><a href="{% url 'blog' %}">Blog</a></li>
      <li><i class="fas fa-angle-right"></i><a href="{% url 'contact' %}">Contact</a></li>
      <!-- <button class="btn btn--donate">DONATE</button> -->
    </ul>
  </div>

  <div class="socials">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</footer>

<div class="rights center">Copyright ©2021 GoodHope Flourish Foundation All rights reserved</div>