<div class="mobile-nav" id="navlinks">
  <div class="menu close"><i class="fas fa-times"></i></div>
  <ul>
    <li ><a href="{% url 'index' %}" class="active">Home</a></li>
    <li ><a href="{% url 'challenge' %}" class="active">The Challenge</a></li>
    <li ><a href="{% url 'ourwork' %}" class="active">Our Work</a></li>
    <li ><a href="{% url 'teams' %}" class="active ">Our Team</a></li>
    <li ><a href="{% url 'getinvolved' %}" class="active ">Get Involved</a></li>
    <a href="{% url 'donate' %}" class="new pill btn">DONATE</a>
    <li><a href="{% url 'about' %}" class="">About</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
  </ul>

  <div class="socials nav-social">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
